body {
  background-image:url('../images/tweed/tweed.png');
  color: #FFF;
  min-height: 700px;
}

.title {
  text-align: center;
  font-size: 2.5em;
  line-height: 2.7em;
  margin: 10px 0;
}

.title a, a:visited, a:hover {
  color: #FFF;
}

.posts {
  padding-left: 25px;
}

.post {
  border-left: 5px solid red;
}

.post li a, li a:visited, li a:hover {
  color: #FFF;
  padding: 5px 10px;
  margin-top: 5px;
}










