body {
  background-image:url('../images/tweed/tweed.png');
  color: #FFF;
  min-height: 700px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
  line-height: 2em;
  border-top: 5px solid #ecff4f;
  border-bottom: 5px solid #ecff4f;
  margin: 10px 0;
  text-transform: uppercase;
}

.title a, a:visited {
  color: #FFF;
  text-decoration: none;
}

.title a:hover {
  color: #ecff4f;
  text-decoration: none;
}

.posts {
}

.post {
  border-left: 5px solid #ecff4f;
  margin-top: 25px;
}

.post li a, li a:visited {
  color: #FFF;
  padding: 5px 10px;
  text-decoration: none;
}

.post li a:hover {
  color: red;
}

.post li span .date {
  padding-top: 2px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

@media screen and (max-width: 750px) {
    .date { display: none; }
 }









