body {
  background-image:url('../images/tweed/tweed.png');
  color: #FFF;
}

.title {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.7em;
}

.title a, a:visited, a:hover {
  color: #FFF;
}
